---
import BaseLayout from "../layouts/BaseLayout.astro";

return Astro.redirect("/tba");

const siteTitle = "Über mich | Alexander Schmid";
const description = "Über mich.";
---

<BaseLayout title={siteTitle} description={description}>
  <div class="mx-auto w-full max-w-3xl px-6 py-16">
    <header
      class="mb-16 opacity-0 animate-fade-in-up"
      style="animation-delay: 0s;"
    >
      <h1 class="text-2xl tracking-tight text-text">Über mich</h1>
    </header>
  </div>
</BaseLayout>
