---
import BaseLayout from "../layouts/BaseLayout.astro";

const siteTitle = "Kontakt | Alexander Schmid";
const description = "About page.";
---

<BaseLayout title={siteTitle} description={description}>
  <div class="mx-auto w-full max-w-5xl px-6 pt-16">
    <header
      class="mb-16 opacity-0 animate-fade-in-up"
      style="animation-delay: 0s;"
    >
      <h1 class="text-2xl tracking-tight text-text">Kontakt</h1>
    </header>
  </div>
</BaseLayout>
