---
import "../styles/global.css";
import BaseLayout from "../layouts/BaseLayout.astro";
import IndexLinkItem from "@/components/IndexLinkItem.astro";
import { getCollection } from "astro:content";
import ProjectListItem from "@/components/ProjectListItem.astro";
import CurrentJobCard from "@/components/CurrentJobCard.astro";
import ItNrwLogo from "@/assets/it-nrw.svg.astro";

const siteTitle = "Alexander Schmid";
const description =
  "Mein Portfolio gibt dir einen kleinen Einblick in meine bisherigen Projekte, Erfahrung und Werdegang.";

const latestProjects = (await getCollection("projects"))
  .filter((project) => !project.data.draft)
  .sort((a, b) => {
    const aTime = a.data.date ? a.data.date.getTime() : 0;
    const bTime = b.data.date ? b.data.date.getTime() : 0;
    return bTime - aTime;
  })
  .slice(0, 3);
---

<BaseLayout title={siteTitle} description={description}>
  <div class="mx-auto w-full max-w-3xl px-6 pt-16">
    <header class="opacity-0 animate-fade-in-up" style="animation-delay: 0s;">
      <p class="text-sm tracking-wider text-muted">Software Entwickler</p>
      <h1 class="mt-2 text-3xl tracking-tight text-text">Alexander Schmid</h1>
      <p class="mt-4 max-w-2xl text-sm text-muted">
        Ich baue moderne <span class="text-accent transition-colors"
          >Web-Apps</span
        > mit aktuellen Standards, bin ein riesen Fan von <span
          class="text-accent transition-colors">minimalistischer UI</span
        > und habe ständig neue Ideen, die ich am liebsten direkt in neue Projekte
        und Experimente umsetze.
      </p>
    </header>

    <section class="mt-16">
      <IndexLinkItem
        href="/about"
        label="Über mich"
        actionText="Mehr"
        style="animation-delay: 0.1s;"
      >
        <div class="mt-4 w-full">
          <CurrentJobCard
            Logo={ItNrwLogo}
            company="Information und Technik Nordrhein-Westfalen (IT.NRW)"
            companyUrl="https://www.it.nrw/"
            title="Informatik Oberinspektoranwärter"
            start="2023-09"
            description="Als Teil des SAP-CC in Düsseldorf entwickle SAP Anwendungen mit SAP UI5 und ABAP, um Nordrhein-Westfalen einen Schritt näher an die Digitalisierung zu bringen."
          />
        </div>
      </IndexLinkItem>
    </section>

    <section class="mt-12 pb-16">
      <IndexLinkItem
        href="/projects"
        label="Projekte"
        actionText="Alle anzeigen"
        style="animation-delay: 0.3s;"
      >
        <ul class="flex flex-col gap-4">
          {
            latestProjects.map((project) => (
              <ProjectListItem project={project} />
            ))
          }
        </ul>
      </IndexLinkItem>
    </section>
  </div>
</BaseLayout>
